@{
    ViewData["Title"] = "Home Page";
    var connectionStatus = ViewData["ConnectionStatus"].ToString();
    var statusAlertStyle = string.Empty;

    if (connectionStatus.ToLower().Contains("successful"))
    {
        statusAlertStyle = "color: green";
    }
    else
    {
        statusAlertStyle = "color: red";
    }

}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h4 style="@statusAlertStyle"><strong>@connectionStatus</strong></h4>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
